os: linux
dist: bionic
language: java
before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
script: "./gradlew -Pversion=$TRAVIS_TAG build"
jdk:
- openjdk8
branches:
  except:
  - gh-pages
deploy:
  - provider: releases
    api_key:
      secure: FyOEr33S124Lr7Dm8G817mBOA9xtZnpPA7Kerc/29ssnuIh1AYEw8hutMszaaOjpg1tDN7kSdSBi6nGuAnJ5uzXr9ICj/yI5uZDmFx1D2JVTLXkFD7CphdS5qx3qShaP9uhm3pi0Q3r0DkoRkRX6HBfEE+nhkACv++KVyZ4sALN2yNxcm/ThpoTVZUN8Vc+w8e2/cuSKkR6niYfAYTxWmBurQJ3TzNYuz4vIcodpQ2NEV6pZj61Zr1gmS33+00rOnMF1jDDZD3seAouCr2JS0Bu0Pj7TqKpdsJYS4H73eqN9r1zAH8PFOKNB5l9k4GeLY1LoTbn2xNIit/zOTu14XmwoQlw2ZDL4dsyDYI7BCGx75dXf73tgElmxdv06dxAQFarvzU4VAh6IhUthFyxsKZQt+33Z0ZXodyhHwQ2jE1QqGq275vsypXMPdC9AGXACw1wZpVIpa1Pwi546jtKMOQ/Di4S47Yl3b+MGoFq6rk4KxDe+6sCU2j4F5IGfiW5/O7X9nR+diEXjKRZSqEbwNDjqK+UCqOdwhl+9e9bqXuONOI3Scks4YK5Sx3JbBxsY/Y+EcDr4HllN/2nYQ3XpTrppWrt3xOgwIc/KVRA4F8e/Q8rUKL8F5p4od0EqN5ydvwxqi/0cRAds6c3aC3m6wMi7sJmOE30bHF9bfhyFmGY=
    file: "./**/build/libs/*.jar"
    skip_cleanup: true
    file_glob: true
    overwrite: true
    on:
      tags: true
#      repo: paslavsky/exktor
#      branch: master
  - provider: script
    script: "./gradlew bintrayUpload"
    skip_cleanup: true
    on:
      tags: true
#      repo: paslavsky/exktor
#      branch: master